html, body : {
  height : 100%;
  margin : 0;
}
#container {
  display : flex;
  justify-content : center;
  height : 100vh;


}
#todo-component {
  display : flex;
  flex-direction : column;
  justify-content : flex-start;
}

#app-header {
  margin-top : 50px;
  margin-bottom : 50px;
}
#todo-list {
  margin-top : 20px;
}
.login-div {
  display : flex;
  height : 100%;
  width : 100%;
  justify-content : center;
}

#login-component {
  margin-top : 50px;
  display : flex;
  flex-direction : column;
  height : 100%;
  width : 25%;
}

#login-header {
  align-self : center;
  padding : 5px;
  margin-bottom : 10px;
}

#login-name {
  padding : 5px;
  margin-bottom : 10px;
}

#login-password {
  padding : 5px;
  margin-bottom : 10px;
}
