html, body : {
  height : 100%;
  margin : 0;
}
#container {
  display : flex;
  justify-content : center;
  height : 100vh;


}
#todo-component {
  display : flex;
  flex-direction : column;
  justify-content : flex-start;
}

#app-header {
  margin-top : 50px;
  margin-bottom : 50px;
}
#todo-list {
  margin-top : 20px;
}
.login-div,.reg-div {
  display : flex;
  flex-direction : column;
  align-items : center;
  height : 100%;
  width : 100%;
}

#login-component,#reg-component {
  margin-top : 50px;
  display : flex;
  flex-direction : column;
  width : 30%;
/*   border : solid green 5px; */
  padding : 5px;
}

#login-header,#reg-header {
  align-self : center;
  padding : 5px;
  margin-bottom : 10px;
}

#login-name,#login-password,#login-confirm-password {
  padding : 5px;
  margin-bottom : 10px;
}

#login-button {
  width : 100px;
  align-self : center;
}

#signup-button {
  width : 100px;
  height : 30px;
}


